<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>

    <body>
        <div>
        {% if user.is_authenticated %}
	        <h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
	        <h1>Rango says... hello world!</h1>
	{% endif %}
        </div>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
                <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                        <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}

                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>

        </div>
        <div>       
                <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
    </body>
</html>
